@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
    .nav-item {
        padding-right: 5px !important;
    }
    .header-logo__dropdown {
        width: 80px;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .header-inner {
        flex-direction: row-reverse;
    }
    .header-logo__item {
        margin-right: auto;
    }
    .navbar-collapse {
        position: absolute;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin-top: 430px;
        width: 263px;
        height: auto;
        .header-navbar__btn {
            padding: 98px 0 20px;
        }
        .header-navbar__lang {
            padding-left: 30%;
        }
    }
    .header-navbar__btn {
        text-align: center;
    }
    .sidebar-slider__inner {
        margin-left: 0;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .header-inner {
        flex-wrap: nowrap !important;
    }
    .header-navbar {
        width: 15%;
    }
    .container {
        max-width: 100%;
    }
    .sidebar-slider__dots li {
        width: 16px;
        height: 16px;
    }
    .sidebar-slider__dots .active {
        width: 20px;
        height: 20px;
    }
    .slider-info {
        height: 420px;
    }
}

@media screen and (max-width: 765px) {
    .navbar-collapse {
        left: 0;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .container {
        max-width: 100%;
    }
    .navbar-toggler {
        flex-wrap: nowrap;
    }
    .slider-info {
        width: 250px;
        &__btn {
            margin-left: 10%;
            font-size: 13px;
        }
    }
    .slider-info__title {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 5px;
        border-width: 2px;
    }
    .slider-info__title br {
        display: none;
    }
    .slider-info__text {
        font-size: 12px;
    }
    .slider-info {
        height: 290px;
    }
}

@media screen and (max-width: 420px) {
    .slider-info {
        width: 200px;
        height: 215px;
        &__title {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 3px;
        }
        &__text {
            font-size: 12px;
            margin-bottom: 5px;
            line-height: 15px;
            font-weight: 300;
            width: 165px;
        }
        &__btn {
            margin-left: 10%;
            font-size: 10px;
            padding: 8px 25px;
        }
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}