@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
    .nav-item {
        padding-right: 5px !important;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .header-inner {
        flex-direction: row-reverse;
    }
    .header-logo__item {
        margin-right: auto;
    }
    .navbar-collapse {
        position: fixed;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin-top: 430px;
        .header-navbar__btn {
            padding: 98px 0 20px;
        }
        .header-navbar__lang {
            padding-left: 20%;
        }
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .header-inner {
        flex-wrap: nowrap !important;
    }
    .header-navbar {
        width: 15%;
    }
    .container {
        max-width: 100%;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .container {
        max-width: 100%;
    }
    .navbar-toggler {
        flex-wrap: nowrap;
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}